---
---
<footer class="bg-[#1f1f22] p-4 flex justify-between items-center text-white">
    <div class="flex items-center gap-2">
        <a href="https://discord.gg/osuturkiye" target="_blank" rel="noopener noreferrer" class="social-link">
            <i class="fab fa-discord"></i>
        </a>
        <a href="https://www.twitch.tv/osutrlive" target="_blank" rel="noopener noreferrer" class="social-link">
            <i class="fab fa-twitch"></i>
        </a>
        <a href="https://www.youtube.com/@osutr" target="_blank" rel="noopener noreferrer" class="social-link">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/@osutrlive" target="_blank" rel="noopener noreferrer" class="social-link">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <div class="text-sm">
        <span>Source Code</span>
        <span class="mx-2">|</span>
        <span>CC BY-NC</span>
    </div>
</footer>

<style>
    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #4a4a52;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .social-link:hover {
        background-color: #6b6b76;
    }
</style>
